<!DOCTYPE html>

<html class="theme-black">
    <head>
        <title>Регистрация</title>
        
        <link rel="stylesheet" href="../styles/themes.css"/>
        <link rel="stylesheet" href="../styles/forms.css"/>
    </head>

    <body>
        <div class="form login-registration-form">
            <div>
                <h2 class="login-text">Регистрация</h2>
                <a href="/login" class="registration-button-url">Вход</a>
            </div>
            <div id="form-body">
                <input type="text" name="email" id="input-email" placeholder="Почта"/>
                <input type="text" name="name" id="input-name" placeholder="Имя пользователя"/>
                <input type="text" name="nickName" id="input-nickName" placeholder="@Никнейм"/>
                <input type="text" name="password" id="input-password" placeholder="Пароль"/>
                
                <button id="reg-button">Зарегистрироваться</button>
            </div>
        </div>
    </body>

    <!-- <script type="module" src="../js/forms/forms_controller.js"></script> -->
    
</html>